* {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: aqua;
  width: 1200px;
  border: 5px solid black;
  border-radius: 10px;
  margin-inline: 80px;
}

#cabecalho p, #cabecalho h1 {
  background-color: aqua;
  text-align: center;
}

#cabecalho p a {
  background-color: aqua;
  text-decoration: none;
  padding-inline: 20px;
}

main {
  display: inline-block;
  border: 5px solid red;
  margin-top: 80px;
  width: 1000px;
  margin-left: 100px;
}

#minha_foto {
  width: 150px;
  border: 5px solid red;
  float: left;
  margin-top: 20px;
}

main section {
  border: 5px solid green;
  margin-left: 20px;
  margin-top: 5px;
  width: 400px;
  float: left;
}

div {
  border: 5px solid black;
  margin-left: 160px;
  height: 450px;
}

main section ol, main section ul {
  width: 150px;
  border: 5px solid orange;
  display: inline-block;
}

main section ul {
  float: right;
}

main h2 {
  display: inline-block;
  margin-right: 30px;
  margin-left: 5px;
  border: 5px solid blue;
  vertical-align: top;
  margin-top: 15px;
}

li {
  height: 20px;
}

#article {
  border: 5px solid purple;
  float: right;
  width: 350px;
  font-family: monospace;
  margin-right: 10px;
  margin-top: 10px;
  color: brown;
  font-size: large;
  line-height: 25px;
}

aside {
  display: inline-block;
  border: 5px solid red;
  width: 130px;
  vertical-align: top;
  margin-top: 80px;
  margin-left: 10px;
}

#rodape {
  border: 5px solid red;
  width: 1200px;
  margin-inline: 80px;
  margin-top: 20px;
}